<div id="main">
  <div class="spinnerBlue">
    <%= image_tag( "spinnerBlue.gif", :id => "spinnerBlueImage" ) %>
  </div>
</div>

<script>
  var app = app || {};
  app.currentUser = <%= @current_user.to_json.html_safe %>;
  app.currentDesignID = <%= @current_design.to_json.html_safe %>;
</script>



<script id="appViewTemplate" type="html/template">
  <div class="allViewsContainer">
      <div id="elementsContainer">Elements go here</div>
      <div id="designContainer">Designs go here</div>
      <div id="chatContainer"></div>
  </div>
</script>

<script id="elementsViewTemplate" type="html/template">
    <div id="elementsMenu">
    </div>
    <div id="elementsList">
    </div>
    <div id="elementsAdd">
    </div>
</script>

<script id="elementsMenuTemplate"  type="html/template">
    <ul></ul>
</script>

<script id="elementsMenuItemTemplate" type="html/template">
    <li data-type="<%%= type %>">
        <div class="typeSymbolContainer"> <span class="typeSymbol"></span> </div> <a href="#"> <%%= type %> </a>
    </li>
</script>

<script id="elementListTemplate" type="html/template">
    <ul></ul>
</script>

<script id="elementItemView" type="html/template">
    <div class="elementItemContainer" data-type="<%%= type %>" data-id="<%%= id %>">
        <div class="elementItemType">
            <div class="elementItemCircle">
            </div>
        </div>
        <div class="elementItemImage">
                <div class="elementItemImageInner">
                    <img src="<%%= image %>" />
                </div>
        </div>
        <div class="elementItemTitle"> <%%= title %> </div>
    </div>
</script>

<!-- DESIGN AREA -->

<script id="memberViewTemplate" type="html/template">
        <div class="memberName"> <%%= name %> </div>
</script>

<script id="membersViewTemplate" type="html/template">
    <p> Current Members </p>
    <ul id="memberList">
    </ul>
</script>

<script id="toolsViewTemplate" type="html/template">
    <input class = "cursorRadio" id ="brushRadio" type="radio" name="cursorMode" value="brush" checked> Brush<br>
    <input class = "cursorRadio" id = "selectRadio" type="radio" name="cursorMode" value="select"> Select<br>
    <input id="brushSize" type = "text" value="10" > Brush Size </br>
    <input id="colorPicker" value="000000" class="jscolor {width:243, height:150, position:'right', borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#666'}"><br/>
    <button id = "undoButton"> Undo</button>
    <a id = "downloadLink"> <button>Download Image</button> </a>
    <button id = "saveButton"> Save Design </button>
    <button id = "buyButton"> Buy Design </button>
    <button id = "deleteButton"> Delete </button>
</script>

<script id="designViewTemplate" type="html/template">
    <div id="membersContainer"> </div>
    <div id = "toolsContainer"> </div>
    <canvas id="myCanvas" resize></canvas>
</script>




<!-- CHAT AREA -->
<script id="chatViewTemplate" type="html/template">
    <div id="chatMessages"></div>
    <div id="chatInput">Message input form goes here</div>
</script>

<script id="chatMessagesTemplate" type="html/template"></script>

<script id="chatInputFormTemplate" type="html/template">
    <input type="text" placeholder="Message squad" id="chatInputForm"></input>
</script>

<!--
********************************************************************************
CHECKOUT VIEW TEMPLATE *********************************************************
********************************************************************************
-->


<script id="checkOutViewTemplate" class="container" type="html/template">
  <div class="row">
    <div id="designToBuy" class="col-sm-4"></div>
    <div id="paymentInfo" class="col-sm-8"></div>
  </div>
</script>

<script id="designToBuyTemplate" type="html/template">

// Your design here
// current order goes here

// selected stuff

</script>

<script id="paymentInfoTemplate" type="html/template">

<%= form_tag charges_path do %>
<h1>Order Form</h1>
    <div class="form-group">
        <label for="exampleInputEmail1">Swag</label>
        <select class="form-control">
            <option>Shirt</option>
            <option>Poster</option>
            <option>Mug</option>
        </select>
    </div>
    <div class="form-group">
        <label for="size">Size</label>
        <select class="form-control">
        <option>XS</option>
        <option>S</option>
        <option>M</option>
        <option>L</option>
        <option>XL</option>
        </select>
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <hr>
    <div class="form-group">
        <label for="quantity">Personal Details</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="First Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Last Name">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <hr>
    <div class="form-group">
        <label for="exampleInputEmail1">Address</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Address">
    </div>
    <div class="form-group">
        <select class="form-control">
            <option>NSW</option>
            <option>VIC</option>
            <option>ACT</option>
            <option>SA</option>
            <option>TAS</option>
            <option>WA</option>
            <option>SA</option>
            <option>NT</option>
        </select>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="City">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Postcode">
    </div>
    <button class="btn btn-default navigateToDesign"> Go back to design </button>

<% end %>

</script>


<!--
swag
size
quantity
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
First Name *
Last Name *
Email *
Phone Number *
Address Line 1 *
Address Line 2
Address Line 3
Country :Australia
City *
Postal Code *
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
PAY NOW
-->
