<div id="main">
  App will go here
</div>

<script>
  var app = app || {};
  app.currentUser = <%= @current_user.to_json.html_safe %>;
  app.currentDesignID = <%= @current_design.to_json.html_safe %>;
</script>

<script id="appViewTemplate" type="html/template">
      <hr>
        App View Template goes here
      <hr>

  <div class="container">
      <div id="elementsContainer">Elements go here</div>
      <div id="designContainer">Designs go here</div>
      <div id="chatContainer"></div>

  </div>
</script>

<script id="elementsViewTemplate" type="html/template">
    <div id="elementsMenu">
    </div>
    <div id="elementsList">
    </div>
    <div id="elementsAdd">
    </div>
</script>

<script id="elementsMenuTemplate"  type="html/template">
    <ul>
        <li> <div class="typeSymbolContainer"> <span class="typeSymbol"></span> </div> <a href="#"> All </a>  </li>
        <li> <div class="typeSymbolContainer"> <span class="typeSymbol"></span> </div> <a href="#"> Images </a>  </li>
        <li> <div class="typeSymbolContainer"> <span class="typeSymbol"></span> </div> <a href="#"> Text </a>  </li>
        <li> <div class="typeSymbolContainer"> <span class="typeSymbol"></span> </div> <a href="#"> Shapes </a>  </li>
    </ul>
</script>

<script id="elementListTemplate" type="html/template">
    <ul>
    </ul>
</script>

<script id="elementItemView" type="html/template">
    <div class="elementItemContainer">
        <div class="elementItemType">
            <div class="elementItemCircle">
            </div>
        </div>
        <div class="elementItemImage">
                <div class="elementItemImageInner">
                    <img src="<%%= image %>" />
                </div>
        </div>
        <div class="elementItemTitle"> <%%= title %> </div>
    </div>
</script>

<!-- DESIGN AREA -->
<script id="toolsViewTemplate" type="html/template">
  <input class = "cursorRadio" id ="brushRadio" type="radio" name="cursorMode" value="brush" checked> Brush<br>
 <input class = "cursorRadio" id = "selectRadio" type="radio" name="cursorMode" value="select"> Select<br>
 <input id="brushSize" type = "text" value="10" > Brush Size </br>
 <input id="colorPicker" value="000000" class="jscolor {width:243, height:150, position:'right', borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#666'}"><br/>
   <button id = "undoButton"> Undo</button>
  <button id = "exportButton"> Export to PNG </button>
  <button id = "buyButton"> Buy Design </button>

</script>

<script id="designViewTemplate" type="html/template">

<div id = "toolsContainer"> </div>
<canvas id="myCanvas" resize></canvas>
</script>





<!-- CHAT AREA -->
<script id="chatViewTemplate" type="html/template">
    <div id="chatMessages"></div>
    <div id="chatInput">Message input form goes here</div>
</script>

<script id="chatMessagesTemplate" type="html/template"></script>

<script id="chatInputFormTemplate" type="html/template">
    <textarea type="text" placeholder="Type message" id="chatInputForm"></textarea>
    <button>Submit</button>
</script>

<!--
********************************************************************************
CHECKOUT VIEW TEMPLATE *********************************************************
********************************************************************************
-->


<script id="checkOutViewTemplate" type="html/template">
  <div class="checkOutContainer">
      <div class="row">
        <div class="col-sm-6"><!--Column left--></div>
        <div class="col-sm-6"><!--Column right--></div>
    </div>
  </div>
</script>
