<%= stylesheet_link_tag 'designs' %>

<p id="notice"><%= notice %></p>

<div class="allDesignsContainer">

    <% @designs.each do |design| %>
      <%= link_to(image_tag(design.url, :class => "thumbnail" ), design_path(design)) %>
    <% end %>

</div>
