/* line 1, /Users/ja/localdev/apps/squadrawn/app/assets/stylesheets/sessions.scss */
h2 {
  text-align: center;
  color: white;
}

/* line 6, /Users/ja/localdev/apps/squadrawn/app/assets/stylesheets/sessions.scss */
.loginPage {
  background-image: url(/assets/loginBackground-1549d94c390f79137d2c1ff856a684eb4f14ef870e623b25ac36e7663570e097.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
