/*
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  display: flex;
  margin: auto;
}

#elementsContainer {
  width: 25vw;
  height: 90vh;
  border: 2px solid black;
}

#designContainer {
  width: 50vw;
  height: 90vh;
  border: 2px solid black;
  overflow: hidden;
}

#chatContainer {
  width: 25vw;
  height: 90vh;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

#chatInput {
width: 100%;
height: 40px;
border-top: 2px solid #B4B4B4;
display: flex;
flex-direction: column;
}

#chatInput input {
  align-self: center;
  border: none;
}

input:focus{
  outline: none;
}

#chatMessages {
  width: inherit;
  height: inherit;
  overflow-y: scroll;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding-bottom: 4px;
}

#chatInputForm {
  width: 98%;
  height: 50px;
}

.chatTime {
  margin-bottom: -2px;
  margin-top: 1px;
  margin-left: 3px;
  font-size: 10px;
}

.chatNames {
  margin-bottom: -2px;
  margin-top: 1px;
  margin-left: 3px;
  font-weight: bold;
}

.chatContent {
  margin-left: 3px;
  margin-top: 2px;
  margin-bottom: 0;
}

.myMessage {
  background-color: #2B96F6;
  color: white;
  border-radius: 5px;
  width: 55%;
  align-self: flex-end;
  margin-top: 4px;
  margin-right: 4px;
}

.otherMessage {
  background-color: #E5E5EA;
  color: black;
  border-radius: 5px;
  width: 55%;
  align-self: flex-start;
  margin-top: 4px;
  margin-left: 4px;
}

canvas {
  width: 100%;
  height: 85%;
}
