.container {
  display: flex;
  margin: auto;
}

#elementsContainer {
  width: 25vw;
  height: 90vh;
  border: 2px solid black;
}

#designContainer {
  width: 50vw;
  height: 90vh;
  border: 2px solid black;
  overflow: hidden;
}

#chatContainer {
  width: 25vw;
  height: 90vh;
  border: 2px solid black;
}
