.container {
  display: flex;
  margin: auto;
}

#elementsContainer {
  width: 25vw;
  height: 90vh;
  border: 2px solid black;
}

#designContainer {
  width: 50vw;
  height: 90vh;
  border: 2px solid black;
  overflow: hidden;
}

#chatContainer {
  width: 25vw;
  height: 90vh;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

#chatInput {
width: inherit;
height: 150px;
border: 1px solid black;
}

#chatMessages {
  width: inherit;
  height: inherit;
  overflow-y: scroll;
}

#chatInputForm {
  width: 98%;
}

.myMessage {
  color: blue;
  text-align: right;
}

.otherMessage {
  color: grey;
}



/*
############################################################################
ELEMENT VIEW ###############################################################
############################################################################
*/

#elementsContainer * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

#elementsContainer ul {

}

#elementListTemplate {

}



#elementsMenu {

}

#elementsMenu ul {
    display: flex;
    list-style-type: none;
}

#elementsMenu ul li {
    flex: 1;
    padding: 10px;

}

#elementsMenu ul li .typeSymbolContainer {
    text-align: center;

}

#elementsMenu ul li .typeSymbolContainer span {
    width: 10px;
    height: 10px;
    background-color: #FE890A;
    display: block;
    border-radius: 100px;

}

#elementsMenu ul li a {
    display: block;
    text-align: center;
    font-size: 12px;
    padding: 4px 0px 8px 0px;
    text-decoration: none;
    border-bottom: 1px solid #ccc;

}






#elementsList ul {
    list-style-type: none;
}

#elementsList ul li {
    width: 50%;
    height: 120px;
    float: left;
    position: relative;

}

#elementsList ul li .elementItemContainer {
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid black;
}

.elementItemType {

}

.elementItemType .elementItemCircle {
    border-radius: 500px;
    width: 10px;
    height: 10px;
    background-color: #FE890A;
    margin: 10px;
}

.elementItemImage {
    text-align: center;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.elementItemImage .elementItemImageInner {
    width: 70px;
    height: 70px;
}

.elementItemImage img {
    max-width: 70px;
    max-height: 70px;
}

.elementItemTitle {
    font-size: 12px;
    padding: 5px 0px 5px 0px;
