// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#paymentInfo {
    overflow: auto;
    box-sizing: border-box;
}

#paymentInfo form {
    padding: 20px 20px 80px 20px;
}

h2, h3 {
  color: black;
  text-align: center;
}

#backLink {
  width: 300px;
  display: block;
  margin: auto;
}

#backLink:hover {
  background-color: rgba(112,132,147,0.85);
  text-align: center;
  text-decoration: none;
}
