.allDesignsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}

.newDesignForm {
  background-image: image-url("newDesignBackground.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: -8px;
}

#new_design #design_url {
  width: 500px;
  height: 100px;
  text-align: center;
  font-size: 30px;
}

.thumbnail {
  max-width: 440px;
  max-height: 440px;
  border: 2px solid grey;
  transition: all 0.5s;
}

.thumbnail:hover {
  background-color: rgba(112,132,147,0.8);
}

a {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.feature {
  max-width: 500px;
}
