// Place all the styles related to the Elements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
############################################################################
ELEMENT VIEW ###############################################################
############################################################################
*/

// GLOBAL



#elementsContainer * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

// CONTAINERS ******************************************************************

#elementsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

#elementsContainer ul {

}

#elementListTemplate {
    display: flex;
}

#elementsMenu {
    flex-shrink: 0;
}

#elementsList {
    flex-grow: 1;
    overflow: auto;
}

#elementsAdd {
    flex-shrink: 0
}

// MENU ************************************************************************


#elementsMenu {

}

#elementsMenu ul {
    display: flex;
    list-style-type: none;
}

#elementsMenu ul li {
    flex: 1;
    padding: 10px;

}

[data-type="all"] .typeSymbolContainer .typeSymbol {
    background-color: #ccc;
}

[data-type="image"] .typeSymbolContainer .typeSymbol {
    background-color: #FE890A;
}

[data-type="shape"] .typeSymbolContainer .typeSymbol {
    background-color: #19b516;
}

[data-type="text"] .typeSymbolContainer .typeSymbol {
    background-color: #166db5;
}


#elementsMenu ul li .typeSymbolContainer {
    text-align: center;

}

#elementsMenu ul li .typeSymbolContainer span {
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 100px;

}

#elementsMenu ul li a {
    display: block;
    text-align: center;
    font-size: 12px;
    padding: 4px 0px 8px 0px;
    text-decoration: none;
    border-bottom: 1px solid #ccc;

}

// LIST ************************************************************************

#elementsList ul {
    list-style-type: none;
}

#elementsList ul li {
    width: 50%;
    height: 120px;
    float: left;
    position: relative;

}

#elementsList ul li .elementItemContainer {
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid #ccc;
}

[data-type="image"] .elementItemCircle {
    background-color: #FE890A;
}

[data-type="shape"] .elementItemCircle {
    background-color: #19b516;
}

[data-type="text"] .elementItemCircle {
    background-color: #166db5;
}


.elementItemType {

}

.elementItemType .elementItemCircle {
    border-radius: 500px;
    width: 10px;
    height: 10px;
    margin: 10px;
}

.elementItemImage {
    text-align: center;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.elementItemImage .elementItemImageInner {
    width: 70px;
    height: 70px;
}

.elementItemImage img {
    max-width: 70px;
    max-height: 70px;
}

.elementItemTitle {
    font-size: 12px;
    padding: 5px 0px 5px 0px;
}

// ADD *************************************************************************

#elementsAdd {
}

#elementsAdd div {
    padding: 20px;
    background: rgb(226, 226, 226);
    height: 55px;
}

#elementsAdd div:hover {
    background: rgb(172, 172, 172);
    cursor: pointer;
}
