<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
        <%= Rails.configuration.stripe[:publishable_key] %>
      <span>Amount: $5.00</span>
    </label>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_23ykm9bZ2mZJJVnjqYsTiPWH"
            data-description="Buy Squadrawn Swag"
            data-name="Buy Squadrawn Swag Brah"
            data-amount="500"
            data-locale="auto"></script>
  </article>
    asd

          ddd
<% end %>



<!-- data-key="<%#= Rails.configuration.stripe[:publishable_key] %>" -->
